@font-face {
  font-family: 'Elusive-Icons';
  src:url('Elusive-Icons.eot');
  src:url('Elusive-Icons.eot?#iefix') format('embedded-opentype'),
    url('Elusive-Icons.svg#Elusive-Icons') format('svg'),
    url('Elusive-Icons.woff') format('woff'),
    url('Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#minic [data-icon]:before {
  font-family: 'Elusive-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
#minic [class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Elusive-Icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
#minic a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
#minic .icon-large:before {
  vertical-align: middle;
  font-size: 1.33em;
}
#minic .btn [class^="icon-"],
#minic .btn [class*=" icon-"],
#minic .nav-tabs [class^="icon-"],
#minic .nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}
#minic li [class^="icon-"],
#minic li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
#minic li .icon-large:before,
#minic li .icon-large:before {
  width: 1.875em;
}
#minic ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em;
}
#minic ul.icons li [class^="icon-"],
#minic ul.icons li [class*=" icon-"] {
  width: .8em;
}
#minic ul.icons li .icon-large:before,
#minic ul.icons li .icon-large:before {
  vertical-align: initial;
}
#minic .btn-large [class^="icon-"], #minic .btn-large [class*=" icon-"]{
  margin-top: 0;
}
#minic .icon-briefcase:before {
  content: "\e10d";
}
#minic .icon-bullhorn:before {
  content: "\e10c";
}
#minic .icon-calendar:before {
  content: "\e10b";
}
#minic .icon-calendar-sign:before {
  content: "\e10a";
}
#minic .icon-cog:before {
  content: "\e109";
}
#minic .icon-cog-alt:before {
  content: "\e108";
}
#minic .icon-cogs:before {
  content: "\e107";
}
#minic .icon-comment:before {
  content: "\e106";
}
#minic .icon-error:before {
  content: "\e105";
}
#minic .icon-error-alt:before {
  content: "\e104";
}
#minic .icon-exclamation-sign:before {
  content: "\e103";
}
#minic .icon-eye-close:before {
  content: "\e102";
}
#minic .icon-flag-alt:before {
  content: "\e101";
}
#minic .icon-flickr:before {
  content: "\e100";
}
#minic .icon-folder:before {
  content: "\e0ff";
}
#minic .icon-folder-close:before {
  content: "\e0fe";
}
#minic .icon-globe-alt:before {
  content: "\e0fd";
}
#minic .icon-googleplus:before {
  content: "\e0fc";
}
#minic .icon-graph:before {
  content: "\e0fb";
}
#minic .icon-graph-alt:before {
  content: "\e0fa";
}
#minic .icon-idea-alt:before {
  content: "\e0f9";
}
#minic .icon-inbox:before {
  content: "\e0f8";
}
#minic .icon-inbox-alt:before {
  content: "\e0f7";
}
#minic .icon-inbox-box:before {
  content: "\e0f6";
}
#minic .icon-book:before {
  content: "\e0f5";
}
#minic .icon-bookmark:before {
  content: "\e0f4";
}
#minic .icon-bookmark-empty:before {
  content: "\e0f3";
}
#minic .icon-braille:before {
  content: "\e0f2";
}
#minic .icon-circle-arrow-right:before {
  content: "\e0f1";
}
#minic .icon-circle-arrow-up:before {
  content: "\e0f0";
}
#minic .icon-cloud:before {
  content: "\e0ef";
}
#minic .icon-cloud-alt:before {
  content: "\e0ee";
}
#minic .icon-edit:before {
  content: "\e0ed";
}
#minic .icon-eject:before {
  content: "\e0ec";
}
#minic .icon-envelope:before {
  content: "\e0eb";
}
#minic .icon-envelope-alt:before {
  content: "\e0ea";
}
#minic .icon-film:before {
  content: "\e0e9";
}
#minic .icon-filter:before {
  content: "\e0e8";
}
#minic .icon-fire:before {
  content: "\e0e7";
}
#minic .icon-flag:before {
  content: "\e0e6";
}
#minic .icon-github-text:before {
  content: "\e0e5";
}
#minic .icon-glass:before {
  content: "\e0e4";
}
#minic .icon-glasses:before {
  content: "\e0e3";
}
#minic .icon-globe:before {
  content: "\e0e2";
}
#minic .icon-heart-empty:before {
  content: "\e0e1";
}
#minic .icon-home:before {
  content: "\e0e0";
}
#minic .icon-home-alt:before {
  content: "\e0df";
}
#minic .icon-idea:before {
  content: "\e0de";
}
#minic .icon-address-book:before {
  content: "\e0dd";
}
#minic .icon-address-book-alt:before {
  content: "\e0dc";
}
#minic .icon-adjust:before {
  content: "\e0db";
}
#minic .icon-adult:before {
  content: "\e0da";
}
#minic .icon-align-center:before {
  content: "\e0d9";
}
#minic .icon-align-justify:before {
  content: "\e0d8";
}
#minic .icon-align-left:before {
  content: "\e0d7";
}
#minic .icon-align-right:before {
  content: "\e0d6";
}
#minic .icon-arrow-down:before {
  content: "\e0d5";
}
#minic .icon-arrow-left:before {
  content: "\e0d4";
}
#minic .icon-barcode:before {
  content: "\e0d3";
}
#minic .icon-behance:before {
  content: "\e0d2";
}
#minic .icon-bell:before {
  content: "\e0d1";
}
#minic .icon-blind:before {
  content: "\e0d0";
}
#minic .icon-blogger:before {
  content: "\e0cf";
}
#minic .icon-bold:before {
  content: "\e0ce";
}
#minic .icon-chevron-left:before {
  content: "\e0cd";
}
#minic .icon-chevron-right:before {
  content: "\e0cc";
}
#minic .icon-chevron-up:before {
  content: "\e0cb";
}
#minic .icon-child:before {
  content: "\e0ca";
}
#minic .icon-circle-arrow-down:before {
  content: "\e0c9";
}
#minic .icon-circle-arrow-left:before {
  content: "\e0c8";
}
#minic .icon-delicious:before {
  content: "\e0c7";
}
#minic .icon-deviantart:before {
  content: "\e0c6";
}
#minic .icon-digg:before {
  content: "\e0c5";
}
#minic .icon-download:before {
  content: "\e0c4";
}
#minic .icon-download-alt:before {
  content: "\e0c3";
}
#minic .icon-dribble:before {
  content: "\e0c2";
}
#minic .icon-file:before {
  content: "\e0c1";
}
#minic .icon-file-alt:before {
  content: "\e0c0";
}
#minic .icon-file-edit:before {
  content: "\e0bf";
}
#minic .icon-file-edit-alt:before {
  content: "\e0be";
}
#minic .icon-file-new:before {
  content: "\e0bd";
}
#minic .icon-file-new-alt:before {
  content: "\e0bc";
}
#minic .icon-foursquare:before {
  content: "\e0bb";
}
#minic .icon-friendfeed:before {
  content: "\e0ba";
}
#minic .icon-friendfeed-rect:before {
  content: "\e0b9";
}
#minic .icon-fullscreen:before {
  content: "\e0b8";
}
#minic .icon-gift:before {
  content: "\e0b7";
}
#minic .icon-github:before {
  content: "\e0b6";
}
#minic .icon-hand-up:before {
  content: "\e0b5";
}
#minic .icon-hdd:before {
  content: "\e0b4";
}
#minic .icon-headphones:before {
  content: "\e0b3";
}
#minic .icon-hearing-impaired:before {
  content: "\e0b2";
}
#minic .icon-heart:before {
  content: "\e0b1";
}
#minic .icon-heart-alt:before {
  content: "\e0b0";
}
#minic .icon-arrow-right:before {
  content: "\e0af";
}
#minic .icon-arrow-up:before {
  content: "\e0ae";
}
#minic .icon-asl:before {
  content: "\e0ad";
}
#minic .icon-asterisk:before {
  content: "\e0ac";
}
#minic .icon-backward:before {
  content: "\e0ab";
}
#minic .icon-ban-circle:before {
  content: "\e0aa";
}
#minic .icon-camera:before {
  content: "\e0a9";
}
#minic .icon-cc:before {
  content: "\e0a8";
}
#minic .icon-certificate:before {
  content: "\e0a7";
}
#minic .icon-check:before {
  content: "\e0a6";
}
#minic .icon-check-empty:before {
  content: "\e0a5";
}
#minic .icon-chevron-down:before {
  content: "\e0a4";
}
#minic .icon-comment-alt:before {
  content: "\e0a3";
}
#minic .icon-compass:before {
  content: "\e0a2";
}
#minic .icon-compass-alt:before {
  content: "\e0a1";
}
#minic .icon-credit-card:before {
  content: "\e0a0";
}
#minic .icon-css:before {
  content: "\e09f";
}
#minic .icon-dashboard:before {
  content: "\e09e";
}
#minic .icon-eye-open:before {
  content: "\e09d";
}
#minic .icon-facebook:before {
  content: "\e09c";
}
#minic .icon-facetime-video:before {
  content: "\e09b";
}
#minic .icon-fast-backward:before {
  content: "\e09a";
}
#minic .icon-fast-forward:before {
  content: "\e099";
}
#minic .icon-female:before {
  content: "\e098";
}
#minic .icon-folder-open:before {
  content: "\e097";
}
#minic .icon-folder-sign:before {
  content: "\e096";
}
#minic .icon-font:before {
  content: "\e095";
}
#minic .icon-fontsize:before {
  content: "\e094";
}
#minic .icon-forward:before {
  content: "\e093";
}
#minic .icon-forward-alt:before {
  content: "\e092";
}
#minic .icon-group:before {
  content: "\e091";
}
#minic .icon-group-alt:before {
  content: "\e090";
}
#minic .icon-guidedog:before {
  content: "\e08f";
}
#minic .icon-hand-down:before {
  content: "\e08e";
}
#minic .icon-hand-left:before {
  content: "\e08d";
}
#minic .icon-hand-right:before {
  content: "\e08c";
}
#minic .icon-indent-left:before {
  content: "\e08b";
}
#minic .icon-indent-right:before {
  content: "\e08a";
}
#minic .icon-info-sign:before {
  content: "\e089";
}
#minic .icon-instagram:before {
  content: "\e088";
}
#minic .icon-iphone-home:before {
  content: "\e087";
}
#minic .icon-italic:before {
  content: "\e086";
}
#minic .icon-key:before {
  content: "\e085";
}
#minic .icon-laptop:before {
  content: "\e084";
}
#minic .icon-laptop-alt:before {
  content: "\e083";
}
#minic .icon-leaf:before {
  content: "\e082";
}
#minic .icon-linkedin:before {
  content: "\e081";
}
#minic .icon-list:before {
  content: "\e080";
}
#minic .icon-list-alt:before {
  content: "\e07f";
}
#minic .icon-lock:before {
  content: "\e07e";
}
#minic .icon-lock-alt:before {
  content: "\e07d";
}
#minic .icon-magnet:before {
  content: "\e07c";
}
#minic .icon-male:before {
  content: "\e07b";
}
#minic .icon-map-marker:before {
  content: "\e07a";
}
#minic .icon-map-marker-alt:before {
  content: "\e079";
}
#minic .icon-mic:before {
  content: "\e078";
}
#minic .icon-mic-alt:before {
  content: "\e077";
}
#minic .icon-minus:before {
  content: "\e076";
}
#minic .icon-minus-sign:before {
  content: "\e075";
}
#minic .icon-move:before {
  content: "\e074";
}
#minic .icon-music:before {
  content: "\e073";
}
#minic .icon-network:before {
  content: "\e072";
}
#minic .icon-off:before {
  content: "\e071";
}
#minic .icon-ok:before {
  content: "\e070";
}
#minic .icon-ok-circle:before {
  content: "\e06f";
}
#minic .icon-ok-sign:before {
  content: "\e06e";
}
#minic .icon-paper-clip:before {
  content: "\e06d";
}
#minic .icon-paper-clip-alt:before {
  content: "\e06c";
}
#minic .icon-path:before {
  content: "\e06b";
}
#minic .icon-pause:before {
  content: "\e06a";
}
#minic .icon-pause-alt:before {
  content: "\e069";
}
#minic .icon-pencil:before {
  content: "\e068";
}
#minic .icon-pencil-alt:before {
  content: "\e067";
}
#minic .icon-person:before {
  content: "\e066";
}
#minic .icon-phone:before {
  content: "\e065";
}
#minic .icon-phone-alt:before {
  content: "\e064";
}
#minic .icon-photo:before {
  content: "\e063";
}
#minic .icon-photo-alt:before {
  content: "\e062";
}
#minic .icon-picasa:before {
  content: "\e061";
}
#minic .icon-picture:before {
  content: "\e060";
}
#minic .icon-pinterest:before {
  content: "\e05f";
}
#minic .icon-plane:before {
  content: "\e05e";
}
#minic .icon-play:before {
  content: "\e05d";
}
#minic .icon-play-alt:before {
  content: "\e05c";
}
#minic .icon-play-circle:before {
  content: "\e05b";
}
#minic .icon-plus:before {
  content: "\e05a";
}
#minic .icon-plus-sign:before {
  content: "\e059";
}
#minic .icon-print:before {
  content: "\e058";
}
#minic .icon-qrcode:before {
  content: "\e057";
}
#minic .icon-question:before {
  content: "\e056";
}
#minic .icon-question-sign:before {
  content: "\e055";
}
#minic .icon-quotes:before {
  content: "\e054";
}
#minic .icon-quotes-alt:before {
  content: "\e053";
}
#minic .icon-random:before {
  content: "\e052";
}
#minic .icon-record:before {
  content: "\e051";
}
#minic .icon-reddit:before {
  content: "\e050";
}
#minic .icon-refresh:before {
  content: "\e04f";
}
#minic .icon-remove:before {
  content: "\e04e";
}
#minic .icon-remove-circle:before {
  content: "\e04d";
}
#minic .icon-remove-sign:before {
  content: "\e04c";
}
#minic .icon-repeat:before {
  content: "\e04b";
}
#minic .icon-repeat-alt:before {
  content: "\e04a";
}
#minic .icon-resize-full:before {
  content: "\e049";
}
#minic .icon-resize-horizontal:before {
  content: "\e048";
}
#minic .icon-resize-small:before {
  content: "\e047";
}
#minic .icon-resize-vertical:before {
  content: "\e046";
}
#minic .icon-retweet:before {
  content: "\e045";
}
#minic .icon-reverse-alt:before {
  content: "\e044";
}
#minic .icon-road:before {
  content: "\e043";
}
#minic .icon-rss:before {
  content: "\e042";
}
#minic .icon-screen:before {
  content: "\e041";
}
#minic .icon-screen-alt:before {
  content: "\e040";
}
#minic .icon-screenshot:before {
  content: "\e03f";
}
#minic .icon-search:before {
  content: "\e03e";
}
#minic .icon-search-alt:before {
  content: "\e03d";
}
#minic .icon-share:before {
  content: "\e03c";
}
#minic .icon-share-alt:before {
  content: "\e03b";
}
#minic .icon-shopping-cart:before {
  content: "\e03a";
}
#minic .icon-shopping-cart-sign:before {
  content: "\e039";
}
#minic .icon-signal:before {
  content: "\e038";
}
#minic .icon-skype:before {
  content: "\e037";
}
#minic .icon-slideshare:before {
  content: "\e036";
}
#minic .icon-smiley:before {
  content: "\e035";
}
#minic .icon-smiley-alt:before {
  content: "\e034";
}
#minic .icon-speaker:before {
  content: "\e033";
}
#minic .icon-stackoverflow:before {
  content: "\e032";
}
#minic .icon-star:before {
  content: "\e031";
}
#minic .icon-star-alt:before {
  content: "\e030";
}
#minic .icon-star-empty:before {
  content: "\e02f";
}
#minic .icon-step-backward:before {
  content: "\e02e";
}
#minic .icon-step-forward:before {
  content: "\e02d";
}
#minic .icon-stop:before {
  content: "\e02c";
}
#minic .icon-stop-alt:before {
  content: "\e02b";
}
#minic .icon-stumbleupon:before {
  content: "\e02a";
}
#minic .icon-tag:before {
  content: "\e029";
}
#minic .icon-tags:before {
  content: "\e028";
}
#minic .icon-tasks:before {
  content: "\e027";
}
#minic .icon-text-height:before {
  content: "\e026";
}
#minic .icon-text-width:before {
  content: "\e025";
}
#minic .icon-th:before {
  content: "\e024";
}
#minic .icon-th-large:before {
  content: "\e023";
}
#minic .icon-th-list:before {
  content: "\e022";
}
#minic .icon-thumbs-down:before {
  content: "\e021";
}
#minic .icon-thumbs-up:before {
  content: "\e020";
}
#minic .icon-time:before {
  content: "\e01f";
}
#minic .icon-time-alt:before {
  content: "\e01e";
}
#minic .icon-tint:before {
  content: "\e01d";
}
#minic .icon-torso:before {
  content: "\e01c";
}
#minic .icon-trash:before {
  content: "\e01b";
}
#minic .icon-trash-alt:before {
  content: "\e01a";
}
#minic .icon-tumblr:before {
  content: "\e019";
}
#minic .icon-twitter:before {
  content: "\e018";
}
#minic .icon-universal-access:before {
  content: "\e017";
}
#minic .icon-unlock:before {
  content: "\e016";
}
#minic .icon-unlock-alt:before {
  content: "\e015";
}
#minic .icon-upload:before {
  content: "\e014";
}
#minic .icon-user:before {
  content: "\e013";
}
#minic .icon-video:before {
  content: "\e012";
}
#minic .icon-video-alt:before {
  content: "\e011";
}
#minic .icon-video-chat:before {
  content: "\e010";
}
#minic .icon-view-mode:before {
  content: "\e00f";
}
#minic .icon-vimeo:before {
  content: "\e00e";
}
#minic .icon-volume-down:before {
  content: "\e00d";
}
#minic .icon-volume-off:before {
  content: "\e00c";
}
#minic .icon-volume-up:before {
  content: "\e00b";
}
#minic .icon-w3c:before {
  content: "\e00a";
}
#minic .icon-warning-sign:before {
  content: "\e009";
}
#minic .icon-website:before {
  content: "\e008";
}
#minic .icon-website-alt:before {
  content: "\e007";
}
#minic .icon-wheelchair:before {
  content: "\e006";
}
#minic .icon-wordpress:before {
  content: "\e005";
}
#minic .icon-wrench:before {
  content: "\e004";
}
#minic .icon-wrench-alt:before {
  content: "\e003";
}
#minic .icon-youtube:before {
  content: "\e002";
}
#minic .icon-zoom-in:before {
  content: "\e001";
}
#minic .icon-zoom-out:before {
  content: "\e000";
}
#minic .icon-vkontakte:before {
  content: "\e10e";
}